// Font colors 
.white {
    color: #fff;
}

.green {
    color: #0fc1a7;
}

.grey {
    color: #747474; 
}

.light-grey {
    color: #CECECE;
}

// for input fields
::placeholder {
    color: #CECECE;
}

// Fill colors 
.white-fill {
    background-color: white;
}

.grey-fill {
    background-color: #F8F8F8;    
}

.green-fill {
    background-color: #0fc1a7;
}

.green-hover-fill {
    background-color: #179a87
}

.dark-green-fill {
    background-color: #003e4c;
}