// Font colors 
.white {
    color: #fff;
}

// Fill colors 
.white-fill {
    background-color: white;
}
.green-fill {
    background-color: #0fc1a7;
}

.green-hover-fill {
    background-color: #179a87
}

.dark-green-fill {
    background-color: #003e4c;
}