* {
    font-family: Roboto, Helvetica, Arial;
    box-sizing: border-box;
}

.page-container {
    
}

h1 {
    font-size: 65px;
    font-weight: 700px;
    letter-spacing: -.2px;
    line-height: 70px;
}

h4 {
    font-size: 21px;
    font-weight: 700;
    letter-spacing: .77px;
    line-height: 28px;
    text-align: left;
    margin-bottom: 32px;
    margin-top: 0;
    height: 40px;
}
.subheader {
    font-size: 22px;
    font-weight: 700px;
    letter-spacing: .3px;
    line-height: 25px;
}

p {
    font-size: 16px;
}

// Font colors 
.white {
    color: #fff;
}

/* Logos */


/* Button styling */
.btn {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 4px;
}

.black-shadow{
    box-shadow: 0 8px 12px 0 rgba(0,0,0,.17);
}

.green-btn {
    border-radius: 9px;
    height: 54px;
    font-family: "Roboto Condensed",Helvetica,Arial;
    font-size: 17px;
    font-weight: 900;
    letter-spacing: 1.9px;
    line-height: 42px;
    text-transform: uppercase;
    border: 0;
    transition: all .15s;
    background-color: #0fc1a7;
    color: #fff;
    text-decoration: none
}

.green-btn:hover {
    background-color: #179a87
}

.btn-primary {
    padding-left: 48px;
    padding-right: 48px;
    width: auto;
    outline: none;
}

// columns
.col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-mg-3 {
    width: 25%;
    float: left;
    
}