* {
    font-family: Roboto, Helvetica, Arial;
    box-sizing: border-box;
}

html {
	position: relative;
	height: 100%;
}

.app-container {
    height: 100vh;
}

body {
    width: 100%;
  
}

h1 {
    font-size: 65px;
    font-weight: 700px;
    letter-spacing: -.2px;
    line-height: 70px;
}

h4 {
    font-size: 21px;
    font-weight: 700;
    letter-spacing: .77px;
    line-height: 28px;
    margin-bottom: 32px;
    margin-top: 0;
    height: 40px;
}
.subheader {
    font-size: 22px;
    font-weight: 700px;
    letter-spacing: .3px;
    line-height: 25px;
    margin: 0 0 10px;
}

p {
    font-size: 16px;
    margin: 0 0 10px;
}

.page-container {
    
}



/* Button styling */
.btn-primary {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 4px;
    padding-left: 48px;
    padding-right: 48px;
    width: auto;
    outline: none;
    border-radius: 9px;
    height: 54px;
    font-family: "Roboto Condensed",Helvetica,Arial;
    font-size: 17px;
    font-weight: 900;
    letter-spacing: 1.9px;
    line-height: 42px;
    text-transform: uppercase;
    border: 0;
    transition: all .15s;
    text-decoration: none;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,.17)
}


.btn-primary:hover {
    background-color: #179a87
}

a:hover {
	text-decoration: underline;
}

