* {
    font-family: Roboto, Helvetica, Arial;
}


h1 {
    font-size: 65px;
    font-weight: 700px;
    letter-spacing: -.2px;
    line-height: 70px;
}

.subheader {
    font-size: 22px;
    font-weight: 700px;
    letter-spacing: .3px;
    line-height: 25px;
    margin: 0 0 10px;
}

h4 {
    font-size: 21px;
    font-weight: 700;
    letter-spacing: .77px;
    line-height: 28px;
    margin-bottom: 32px;
    margin-top: 0;
    height: 40px;
}


p {
    font-size: 16px;
    margin: 0 0 10px;
    line-height: 22px;
}


/* Button styling */
.btn-primary {
    // display: inline-block;
    width: 210px;
    height: 54px;
    padding: 20px;
    padding-left: 48px;
    padding-right: 48px;
    box-sizing: border-box;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 4px;
    border-radius: 9px;
    font-family: "Roboto Condensed",Helvetica,Arial;
    font-size: 17px;
    font-weight: 900;
    letter-spacing: 1.9px;
    line-height: 42px;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,.17)
}


.btn-primary:hover {
    background-color: #179a87
}

a:hover {
	text-decoration: underline;
}

