
.chatroom-container {
  padding: 30px;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FCFCFD;
}

// .chatroom-ul {
//   list-style-type: none;
//   margin: 0;
//   padding: 0;
// }

.chatroom-message {
  font-family: roboto,serif;
  font-size: 14px;
  font-weight: 300;
  color: #333333; 
  background-color: #EEEEEE;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px; 
  line-height: 19px;
  word-wrap: break-word;
  word-break: keep-all;
  width: 60%;

}
 
.message-list-sent {
  font-size: 11px;
  line-height: 13px;
  color: rgba(107,105,105,.5);
  text-align: center;
}
.message-list {
  overflow-y: scroll;
  height: 100%;
  width: 100%;

}
  
.load-button {
  position: absolute;
  top: 5px;
  right: 5px;
}

.submit-message-container {
  border-top: 2px solid  #0fc1a7;
  height: 50px;
}