.demo-therapist-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
}

.demo-therapist-heading {
    margin-top: 80px;
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto', sans-serif; 
}

.therapist-boxes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.single-therapist-container {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}

.single-therapist-container img {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}


.single-therapist-container a {
    text-transform: uppercase;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 4px;
    padding-left: 48px;
    padding-right: 48px;
    width: auto;
    outline: none;
    border-radius: 9px;
    height: 54px;
    font-family: "Roboto Condensed",Helvetica,Arial;
    font-size: 17px;
    font-weight: 900;
    letter-spacing: 1.9px;
    line-height: 42px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.17);
    text-decoration: none;
}

.single-therapist-container a:hover {
    background-color: #0fc1a7; 
}