.demo-therapist-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.demo-therapist-heading {
    margin-top: 80px;
    text-align: center 
}

.therapist-boxes{
    display: flex;
    flex-direction: horizontal;
    justify-content: center;
}

.single-therapist-container {
    height: 84px;
    width: 84px;
    margin: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.single-therapist-container:hover {
    background-color: #179a87; 
}

.therapist-name {

}
.demo-therapist-box {
    
}
.demo-therapist-profile{
    
}

.demo-therapist-button{

}

.single-therapist-container{
    
}