.demo-therapist-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.demo-therapist-profile{
    
}

.demo-therapist-button{

}

.single-therapist-container{
    
}