.footer-container {
    position: fixed;
    width: 100%;
    min-height: 150px;
    // display: flex;
    bottom: 0;
    left: 0;
    justify-content: center;
    padding: 40px; 
}

.row {
    display: block;
    margin-bottom: 10px;

}

.footer-container h4 {
    text-align: center;
}

.social-icon{
    width: 24px;
    height: 24px;
}

.icons{
    display: block;
    text-align: center;
}

.social-icon {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    text-align: center;
}
.disclaimer {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 22px;
    text-align: center;
}