.footer-container {
    display: flex;
    background-color: #003e4c;
    margin: 0 -15px;
    min-height: 150px;
}

.social-icon{
    width: 24px;
    height: 24px;
}

.icon-row{

}

.disclaimer-row {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 22px;
    text-align: center;
}