.footer-container {
    height: 150px;
    display: flex;
    justify-content: center;
    padding: 60px; 
  
}

.row {
    display: block;
}

.social-icon{
    width: 24px;
    height: 24px;
}

.icons{
    display: block;
    
}

.social-icon {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    box-sizing: border-box;
}
.disclaimer {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 22px;
    text-align: center;
}