.navigation-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 69px;
    top: 0;
    padding-right: 12px;
    padding-left: 18px;
    align-items: center;
    position: fixed;
    box-sizing: border-box;
}


.nav-logo {
  height: 40px;
  width: 148px;  
    
}

.nav-right {
    display: flex;
}

.nav-item {
    list-style-type: none;
    margin: 10px 0;
    padding: 14px 20px;
    display: flex;
    position: relative;
}

.nav-link {
    font-size: 15px;
    font-family: "Roboto Condensed", Helvetica;
    text-transform: uppercase;
    line-height: 20px;
    color: #003e4c;
    
}

.log-in {
    color: #0fc1a7;
}

// Auth nav bar specific 

.auth-nav-welcome {
    font-size: 15px;
    font-family: Roboto;
    color: white;
    line-height: 20px;
}

.logout {
    padding-left: 20px;
    padding-right: 10px;
    font-size: 15px;
    font-family: Roboto;
    color: white;
    line-height: 20px;
}