.onboard-page-container{
    display: flex;
    flex-direction: column;
}

.question-container {
    display: flex;
    flex-direction: column;
}

.question {

}

#answer-why {

}
.answer {

}

.gender-pref-radio{
    
}