.splash-container {
    background-image: image-url('splash_hero.jpg');
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
