
.splash-page-container {
  background-image: image-url('splash_hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh;
  background-position: center top;
  display: flex;
  flex-direction: column;
}

.splash-content {
  margin-top: 5%;
  margin-left: 8%; 
  margin-right: 8%;
}

.splash-text {
  width: 70%;
  margin-bottom: 50px;
}

.headline {
  margin-top: 100px;
  margin-bottom: 40px;
}

.section-text .subheader {
  margin-bottom: 20px;
}
.section-text p {
  margin-bottom: 10px;
}