.user-chat-page-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 6%;
    box-sizing: border-box
}

.therapist-profile-container {
    height: 100%;
    width: 18%;
    min-width: 175px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 50px;
    margin-right: 3%;
    padding-top: 5px;
    border-right: 1px solid #c4c4c4;;
    top: 0;
    bottom: 0;
    box-sizing: border-box
}

.about-therapist-headline {
    color: #333333; 
    font-size: 18px;
    line-height: 25px;
}

.therapist-info-container {
    min-width: 120px;
}

.therapist-pro-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 20px 0px;
}

.therapist-name-pro {
    font-size: 30px;
    line-height: 30px;
    letter-spacing: .06px;
    color: #222f2d;
    margin-bottom: 30px;
}

.focus-heading {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: .06px;
    color: #222f2d;
    margin-top:40px;
    margin-bottom: 20px;
}