.user-chat-page-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10%;
}

.therapist-profile-container {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    padding-top: 100px;
    border-right: 1px solid #c4c4c4;;
    top: 0;
    bottom: 0;
    // z-index: -1;
}

